In [2]:
import pandas as pd
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns 
%matplotlib inline

from sklearn.metrics import confusion_matrix, classification_report
from sklearn.metrics import accuracy_score,precision_score,recall_score,f1_score

from sklearn.ensemble import GradientBoostingClassifier
gbc=GradientBoostingClassifier()
from sklearn.ensemble import RandomForestClassifier
r=RandomForestClassifier()

from sklearn.tree import DecisionTreeClassifier
d=DecisionTreeClassifier()

from sklearn.linear_model import LogisticRegression
log=LogisticRegression()

from sklearn.naive_bayes import GaussianNB
from sklearn.naive_bayes import BernoulliNB
g=GaussianNB()
b=BernoulliNB()

from sklearn.neighbors import KNeighborsClassifier
k=KNeighborsClassifier()

from xgboost import XGBClassifier
xgbc=XGBClassifier()

In [3]:
df=pd.read_csv("LoansTrainingSet.csv")
df

C:\Users\User\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (16) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Loan ID,Customer ID,Loan Status,Current Loan Amount,Term,Credit Score,Years in current job,Home Ownership,Annual Income,Purpose,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens
0,000025bb-5694-4cff-b17d-192b1a98ba44,5ebc8bb1-5eb9-4404-b11b-a6eebc401a19,Fully Paid,11520,Short Term,741.0,10+ years,Home Mortgage,33694.0,Debt Consolidation,$584.03,12.3,41.0,10,0,6760,16056,0.0,0.0
1,00002c49-3a29-4bd4-8f67-c8f8fbc1048c,927b388d-2e01-423f-a8dc-f7e42d668f46,Fully Paid,3441,Short Term,734.0,4 years,Home Mortgage,42269.0,other,"$1,106.04",26.3,NaN,17,0,6262,19149,0.0,0.0
2,00002d89-27f3-409b-aa76-90834f359a65,defce609-c631-447d-aad6-1270615e89c4,Fully Paid,21029,Short Term,747.0,10+ years,Home Mortgage,90126.0,Debt Consolidation,"$1,321.85",28.8,NaN,5,0,20967,28335,0.0,0.0
3,00005222-b4d8-45a4-ad8c-186057e24233,070bcecb-aae7-4485-a26a-e0403e7bb6c5,Fully Paid,18743,Short Term,747.0,10+ years,Own Home,38072.0,Debt Consolidation,$751.92,26.2,NaN,9,0,22529,43915,0.0,0.0
4,0000757f-a121-41ed-b17b-162e76647c1f,dde79588-12f0-4811-bab0-e2b07f633fcd,Fully Paid,11731,Short Term,746.0,4 years,Rent,50025.0,Debt Consolidation,$355.18,11.5,NaN,12,0,17391,37081,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
256979,fffef5b7-be99-4666-ac70-2a397d2ee435,7211a8e3-cba4-4132-b939-222eed8a662c,Fully Paid,3911,Short Term,NaN,2 years,Rent,NaN,Debt Consolidation,"$1,706.58",19.9,NaN,16,0,43992,44080,0.0,0.0
256980,ffffca93-aa8c-4123-b8ff-7852f6df889a,616fef0c-8f09-4327-9b5c-48fcfaa52934,Fully Paid,5078,Short Term,737.0,10+ years,Own Home,77186.0,Debt Consolidation,"$1,376.47",19.1,47.0,9,0,1717,9758,0.0,0.0
256981,ffffcb2e-e48e-4d2c-a0d6-ed6bce5bfdbe,971a6682-183b-4a52-8bce-1d3429ade295,Charged Off,12116,Short Term,7460.0,9 years,Home Mortgage,52504.0,Debt Consolidation,$297.96,15.1,82.0,8,0,3315,20090,0.0,0.0
256982,ffffcb2e-e48e-4d2c-a0d6-ed6bce5bfdbe,971a6682-183b-4a52-8bce-1d3429ade295,Charged Off,12116,Short Term,746.0,9 years,Home Mortgage,52504.0,Debt Consolidation,$297.96,15.1,82.0,8,0,3315,20090,0.0,0.0
256983,ffffe32e-ed17-459f-9cfd-7b9ee7972933,97281336-1e45-41d2-acb2-263ce56a590e,Fully Paid,27902,Long Term,678.0,10+ years,Home Mortgage,117480.0,Debt Consolidation,"$2,525.82",18.0,11.0,10,0,28317,62371,0.0,0.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 256984 entries, 0 to 256983
Data columns (total 19 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   Loan ID                       256984 non-null  object
 1   Customer ID                   256984 non-null  object
 2   Loan Status                   256984 non-null  object
 3   Current Loan Amount           256984 non-null  int64
 4   Term                          256984 non-null  object
 5   Credit Score                  195308 non-null  float64
 6   Years in current job          245508 non-null  object
 7   Home Ownership                256984 non-null  object
 8   Annual Income                 195308 non-null  float64
 9   Purpose                       256984 non-null  object
 10  Monthly Debt                  256984 non-null  object
 11  Years of Credit History       256984 non-null  float64
 12  Months since last delinquent  116601 non-null  float64
 13  Number of Open Accounts       256984 non-null  int64
 14  Number of Credit Problems     256984 non-null  int64
 15  Current Credit Balance        256984 non-null  int64
 16  Maximum Open Credit           256984 non-null  object
 17  Bankruptcies                  256455 non-null  float64
 18  Tax Liens                     256961 non-null  float64
dtypes: float64(6), int64(4), object(9)
memory usage: 37.3+ MB

In [5]:
df.describe()

,Current Loan Amount,Credit Score,Annual Income,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Bankruptcies,Tax Liens
count,2.569840e+05,195308.000000,1.953080e+05,256984.000000,116601.000000,256984.000000,256984.000000,2.569840e+05,256455.000000,256961.000000
mean,1.371331e+07,1251.116099,7.195272e+04,18.290195,34.881450,11.106267,0.156628,1.540656e+04,0.110316,0.027203
std,3.438131e+07,1762.016848,5.887757e+04,7.075747,21.854165,4.982982,0.460731,1.966506e+04,0.336229,0.245950
min,5.050000e+02,585.000000,0.000000e+00,3.400000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000
25%,8.299000e+03,714.000000,4.432100e+04,13.500000,16.000000,8.000000,0.000000,5.974000e+03,0.000000,0.000000
50%,1.429800e+04,733.000000,6.124200e+04,17.000000,32.000000,10.000000,0.000000,1.107800e+04,0.000000,0.000000
75%,2.436700e+04,744.000000,8.646200e+04,21.700000,51.000000,14.000000,0.000000,1.931900e+04,0.000000,0.000000
max,1.000000e+08,7510.000000,8.713547e+06,70.500000,176.000000,76.000000,11.000000,1.731412e+06,7.000000,11.000000

In [4]:
df=df.drop(["Loan ID","Customer ID"],axis=1)

In [5]:
for col in df:
    print(col,df[col].isnull().sum())

Loan Status 0
Current Loan Amount 0
Term 0
Credit Score 61676
Years in current job 11476
Home Ownership 0
Annual Income 61676
Purpose 0
Monthly Debt 0
Years of Credit History 0
Months since last delinquent 140383
Number of Open Accounts 0
Number of Credit Problems 0
Current Credit Balance 0
Maximum Open Credit 0
Bankruptcies 529
Tax Liens 23

In [6]:
non_null=df[['Current Loan Amount', 'Term', 'Credit Score',
       'Home Ownership','Purpose',
       'Monthly Debt', 'Years of Credit History',
        'Number of 200Open Accounts',
       'Number of Credit Problems', 'Current Credit Balance',
       'Maximum Open Credit']]

In [7]:
non_null.info() #credit score'u regression ile tahmin edeceğiz.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 256984 entries, 0 to 256983
Data columns (total 11 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Current Loan Amount        256984 non-null  int64
 1   Term                       256984 non-null  object
 2   Credit Score               195308 non-null  float64
 3   Home Ownership             256984 non-null  object
 4   Purpose                    256984 non-null  object
 5   Monthly Debt               256984 non-null  object
 6   Years of Credit History    256984 non-null  float64
 7   Number of Open Accounts    256984 non-null  int64
 8   Number of Credit Problems  256984 non-null  int64
 9   Current Credit Balance     256984 non-null  int64
 10  Maximum Open Credit        256984 non-null  object
dtypes: float64(2), int64(4), object(5)
memory usage: 21.6+ MB

In [8]:
for col in df:
    print(col,df[col].nunique())

Loan Status 2
Current Loan Amount 27347
Term 2
Credit Score 334
Years in current job 11
Home Ownership 4
Annual Income 60558
Purpose 10
Monthly Debt 129115
Years of Credit History 541
Months since last delinquent 131
Number of Open Accounts 59
Number of Credit Problems 12
Current Credit Balance 45704
Maximum Open Credit 87188
Bankruptcies 8
Tax Liens 12

In [9]:
non_null["Monthly Debt"]=non_null["Monthly Debt"].str.extract('(\d+)').astype(float)

<ipython-input-9-4145933aaa25>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  non_null["Monthly Debt"]=non_null["Monthly Debt"].str.extract('(\d+)').astype(float)

In [10]:
non_null.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 256984 entries, 0 to 256983
Data columns (total 11 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Current Loan Amount        256984 non-null  int64
 1   Term                       256984 non-null  object
 2   Credit Score               195308 non-null  float64
 3   Home Ownership             256984 non-null  object
 4   Purpose                    256984 non-null  object
 5   Monthly Debt               256984 non-null  float64
 6   Years of Credit History    256984 non-null  float64
 7   Number of Open Accounts    256984 non-null  int64
 8   Number of Credit Problems  256984 non-null  int64
 9   Current Credit Balance     256984 non-null  int64
 10  Maximum Open Credit        256984 non-null  object
dtypes: float64(3), int64(4), object(4)
memory usage: 21.6+ MB

In [11]:
non_null["Maximum Open Credit"]=non_null["Maximum Open Credit"].replace({'#VALUE!':"0"})

<ipython-input-11-30685bbfa0fd>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  non_null["Maximum Open Credit"]=non_null["Maximum Open Credit"].replace({'#VALUE!':"0"})

In [12]:
non_null["Maximum Open Credit"]=non_null["Maximum Open Credit"].astype(float)

<ipython-input-12-3fb8363a46fd>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  non_null["Maximum Open Credit"]=non_null["Maximum Open Credit"].astype(float)

In [13]:
non_null.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 256984 entries, 0 to 256983
Data columns (total 11 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Current Loan Amount        256984 non-null  int64
 1   Term                       256984 non-null  object
 2   Credit Score               195308 non-null  float64
 3   Home Ownership             256984 non-null  object
 4   Purpose                    256984 non-null  object
 5   Monthly Debt               256984 non-null  float64
 6   Years of Credit History    256984 non-null  float64
 7   Number of Open Accounts    256984 non-null  int64
 8   Number of Credit Problems  256984 non-null  int64
 9   Current Credit Balance     256984 non-null  int64
 10  Maximum Open Credit        256984 non-null  float64
dtypes: float64(4), int64(4), object(3)
memory usage: 21.6+ MB

In [14]:
non_null=pd.get_dummies(non_null,drop_first=True)

In [15]:
dolu=non_null[non_null['Credit Score'].notnull()] #we seperate the df into two. If survived value is not null then it becomes our train set  
bos=non_null[non_null['Credit Score'].isnull()]
dolu.head()
y=dolu['Credit Score'] #dolu dataframes Survived value is our y_train
x=dolu.drop(['Credit Score'],axis=1)
bos=pd.get_dummies(bos,drop_first=True) 
bos.shape

(61676, 21)

In [16]:
dolu.head()

,Current Loan Amount,Credit Score,Monthly Debt,Years of Credit History,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Term_Short Term,Home Ownership_Home Mortgage,...,Home Ownership_Rent,Purpose_Buy House,Purpose_Buy a Car,Purpose_Debt Consolidation,Purpose_Educational Expenses,Purpose_Home Improvements,Purpose_Medical Bills,Purpose_Other,Purpose_Take a Trip,Purpose_other
0,11520,741.0,584.0,12.3,10,0,6760,16056.0,1,1,...,0,0,0,1,0,0,0,0,0,0
1,3441,734.0,1.0,26.3,17,0,6262,19149.0,1,1,...,0,0,0,0,0,0,0,0,0,1
2,21029,747.0,1.0,28.8,5,0,20967,28335.0,1,1,...,0,0,0,1,0,0,0,0,0,0
3,18743,747.0,751.0,26.2,9,0,22529,43915.0,1,0,...,0,0,0,1,0,0,0,0,0,0
4,11731,746.0,355.0,11.5,12,0,17391,37081.0,1,0,...,1,0,0,1,0,0,0,0,0,0

In [17]:
y=dolu['Credit Score'] #dolu dataframes Survived value is our y_train
x=dolu.drop(['Credit Score'],axis=1)

In [18]:
bos=pd.get_dummies(bos,drop_first=True) 
bos.shape

(61676, 21)

In [19]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

from sklearn.linear_model import LinearRegression
LR=LinearRegression()
from sklearn.model_selection import train_test_split
from sklearn.linear_model import Ridge,Lasso
R=Ridge()
L=Lasso()

from sklearn.linear_model import ElasticNet
E= ElasticNet(l1_ratio=.8)

from sklearn.ensemble import GradientBoostingRegressor
GBR= GradientBoostingRegressor()

from sklearn.tree import ExtraTreeRegressor
ETR = ExtraTreeRegressor()

from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import mean_squared_error, r2_score

In [20]:
models=[LR,R,L,E,GBR,ETR]
def model(models,x,y):
    row_list=[]
    for i in range(len(models)):
        model=models[i]
        #modelname=['gbc', 'd', 'k', 'g','b','r','log'] #names of models we will use them as indexes
        model.fit(x,y)
        tahmin=model.predict(x)
        
        #r2_score(y_test,y_pred_ridge)
        #creating a dictionary to calculate scores for each model in the models list
        data={'r2_score':(mean_squared_error(y,tahmin))**0.5,
              'mean_squared_error':r2_score(y,tahmin),
             }
        
        row_list.append(data) #appending the dictionary to a list to turn it into a dataframe
        
        #printing the scores
       # print(accuracy_score(y,tahmin),precision_score(y,tahmin),recall_score(y,tahmin),f1_score(y,tahmin))
        #print(confusion_matrix(y,tahmin))
       # print(classification_report(y,tahmin))
    
    #adding each element of row_list to the df dataframe (each element of row_list is a row of df )
    df = pd.DataFrame(row_list, index =['LR', 'R', 'L', 'E','GBR','ETR']) 
    return df

In [21]:
model(models,x,y)

C:\Users\User\anaconda3\lib\site-packages\sklearn\linear_model\_ridge.py:147: LinAlgWarning: Ill-conditioned matrix (rcond=2.85327e-19): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True,

        r2_score  mean_squared_error
LR   1740.724548            0.024017
R    1740.724550            0.024017
L    1740.950747            0.023763
E    1741.985760            0.022602
GBR  1734.147659            0.031378
ETR   965.493690            0.699751

In [22]:
del bos['Credit Score']

In [23]:
tahmin=ETR.predict(bos)
len(tahmin)

61676

In [24]:
bos['Credit Score']=tahmin

In [25]:
non_null['Credit Score']=non_null['Credit Score'].fillna(bos['Credit Score'])

In [26]:
non_null

,Current Loan Amount,Credit Score,Monthly Debt,Years of Credit History,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Term_Short Term,Home Ownership_Home Mortgage,...,Home Ownership_Rent,Purpose_Buy House,Purpose_Buy a Car,Purpose_Debt Consolidation,Purpose_Educational Expenses,Purpose_Home Improvements,Purpose_Medical Bills,Purpose_Other,Purpose_Take a Trip,Purpose_other
0,11520,741.0,584.0,12.3,10,0,6760,16056.0,1,1,...,0,0,0,1,0,0,0,0,0,0
1,3441,734.0,1.0,26.3,17,0,6262,19149.0,1,1,...,0,0,0,0,0,0,0,0,0,1
2,21029,747.0,1.0,28.8,5,0,20967,28335.0,1,1,...,0,0,0,1,0,0,0,0,0,0
3,18743,747.0,751.0,26.2,9,0,22529,43915.0,1,0,...,0,0,0,1,0,0,0,0,0,0
4,11731,746.0,355.0,11.5,12,0,17391,37081.0,1,0,...,1,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
256979,3911,738.0,1.0,19.9,16,0,43992,44080.0,1,0,...,1,0,0,1,0,0,0,0,0,0
256980,5078,737.0,1.0,19.1,9,0,1717,9758.0,1,0,...,0,0,0,1,0,0,0,0,0,0
256981,12116,7460.0,297.0,15.1,8,0,3315,20090.0,1,1,...,0,0,0,1,0,0,0,0,0,0
256982,12116,746.0,297.0,15.1,8,0,3315,20090.0,1,1,...,0,0,0,1,0,0,0,0,0,0
256983,27902,678.0,2.0,18.0,10,0,28317,62371.0,0,1,...,0,0,0,1,0,0,0,0,0,0

In [27]:
non_null["Years in current job"]=df["Years in current job"]

In [28]:
non_null["Years in current job"]=non_null["Years in current job"].str.extract('(\d+)').astype(float)

In [29]:
non_null.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 256984 entries, 0 to 256983
Data columns (total 22 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   Current Loan Amount           256984 non-null  int64
 1   Credit Score                  256984 non-null  float64
 2   Monthly Debt                  256984 non-null  float64
 3   Years of Credit History       256984 non-null  float64
 4   Number of Open Accounts       256984 non-null  int64
 5   Number of Credit Problems     256984 non-null  int64
 6   Current Credit Balance        256984 non-null  int64
 7   Maximum Open Credit           256984 non-null  float64
 8   Term_Short Term               256984 non-null  uint8
 9   Home Ownership_Home Mortgage  256984 non-null  uint8
 10  Home Ownership_Own Home       256984 non-null  uint8
 11  Home Ownership_Rent           256984 non-null  uint8
 12  Purpose_Buy House             256984 non-null  uint8
 13  Purpose_Buy a Car             256984 non-null  uint8
 14  Purpose_Debt Consolidation    256984 non-null  uint8
 15  Purpose_Educational Expenses  256984 non-null  uint8
 16  Purpose_Home Improvements     256984 non-null  uint8
 17  Purpose_Medical Bills         256984 non-null  uint8
 18  Purpose_Other                 256984 non-null  uint8
 19  Purpose_Take a Trip           256984 non-null  uint8
 20  Purpose_other                 256984 non-null  uint8
 21  Years in current job          245508 non-null  float64
dtypes: float64(5), int64(4), uint8(13)
memory usage: 20.8 MB

In [30]:
dolu=non_null[non_null["Years in current job"].notnull()] #we seperate the df into two. If survived value is not null then it becomes our train set  
bos=non_null[non_null["Years in current job"].isnull()]
dolu.head()
y=dolu["Years in current job"] #dolu dataframes Survived value is our y_train
x=dolu.drop(["Years in current job"],axis=1)
bos=pd.get_dummies(bos,drop_first=True) 
bos.shape

(11476, 22)

In [31]:

        #modelname=['gbc', 'd', 'k', 'g','b','r','log'] #names of models we will use them as indexes
xgbc.fit(x,y)
tahmin=xgbc.predict(x)
accuracy_score(y,tahmin)

C:\Users\User\anaconda3\lib\site-packages\xgboost\sklearn.py:892: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)

[09:44:37] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.3.0/src/learner.cc:1061: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'multi:softprob' was changed from 'merror' to 'mlogloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

0.39056161102693193

In [32]:
non_null["Years in current job"].nunique()

10

In [33]:
del bos["Years in current job"]

tahmin=xgbc.predict(bos)
len(tahmin)

bos["Years in current job"]=tahmin

non_null["Years in current job"]=non_null["Years in current job"].fillna(bos["Years in current job"])

non_null

,Current Loan Amount,Credit Score,Monthly Debt,Years of Credit History,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Term_Short Term,Home Ownership_Home Mortgage,...,Purpose_Buy House,Purpose_Buy a Car,Purpose_Debt Consolidation,Purpose_Educational Expenses,Purpose_Home Improvements,Purpose_Medical Bills,Purpose_Other,Purpose_Take a Trip,Purpose_other,Years in current job
0,11520,741.0,584.0,12.3,10,0,6760,16056.0,1,1,...,0,0,1,0,0,0,0,0,0,10.0
1,3441,734.0,1.0,26.3,17,0,6262,19149.0,1,1,...,0,0,0,0,0,0,0,0,1,4.0
2,21029,747.0,1.0,28.8,5,0,20967,28335.0,1,1,...,0,0,1,0,0,0,0,0,0,10.0
3,18743,747.0,751.0,26.2,9,0,22529,43915.0,1,0,...,0,0,1,0,0,0,0,0,0,10.0
4,11731,746.0,355.0,11.5,12,0,17391,37081.0,1,0,...,0,0,1,0,0,0,0,0,0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
256979,3911,738.0,1.0,19.9,16,0,43992,44080.0,1,0,...,0,0,1,0,0,0,0,0,0,2.0
256980,5078,737.0,1.0,19.1,9,0,1717,9758.0,1,0,...,0,0,1,0,0,0,0,0,0,10.0
256981,12116,7460.0,297.0,15.1,8,0,3315,20090.0,1,1,...,0,0,1,0,0,0,0,0,0,9.0
256982,12116,746.0,297.0,15.1,8,0,3315,20090.0,1,1,...,0,0,1,0,0,0,0,0,0,9.0
256983,27902,678.0,2.0,18.0,10,0,28317,62371.0,0,1,...,0,0,1,0,0,0,0,0,0,10.0

In [34]:
non_null.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 256984 entries, 0 to 256983
Data columns (total 22 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   Current Loan Amount           256984 non-null  int64
 1   Credit Score                  256984 non-null  float64
 2   Monthly Debt                  256984 non-null  float64
 3   Years of Credit History       256984 non-null  float64
 4   Number of Open Accounts       256984 non-null  int64
 5   Number of Credit Problems     256984 non-null  int64
 6   Current Credit Balance        256984 non-null  int64
 7   Maximum Open Credit           256984 non-null  float64
 8   Term_Short Term               256984 non-null  uint8
 9   Home Ownership_Home Mortgage  256984 non-null  uint8
 10  Home Ownership_Own Home       256984 non-null  uint8
 11  Home Ownership_Rent           256984 non-null  uint8
 12  Purpose_Buy House             256984 non-null  uint8
 13  Purpose_Buy a Car             256984 non-null  uint8
 14  Purpose_Debt Consolidation    256984 non-null  uint8
 15  Purpose_Educational Expenses  256984 non-null  uint8
 16  Purpose_Home Improvements     256984 non-null  uint8
 17  Purpose_Medical Bills         256984 non-null  uint8
 18  Purpose_Other                 256984 non-null  uint8
 19  Purpose_Take a Trip           256984 non-null  uint8
 20  Purpose_other                 256984 non-null  uint8
 21  Years in current job          256984 non-null  float64
dtypes: float64(5), int64(4), uint8(13)
memory usage: 20.8 MB

In [35]:
non_null["Annual Income"]=df["Annual Income"]
dolu=non_null[non_null["Annual Income"].notnull()] #we seperate the df into two. If survived value is not null then it becomes our train set  
bos=non_null[non_null["Annual Income"].isnull()]
dolu.head()
y=dolu["Annual Income"] #dolu dataframes Survived value is our y_train
x=dolu.drop(["Annual Income"],axis=1)
bos=pd.get_dummies(bos,drop_first=True) 
bos.shape

(61676, 23)

In [36]:
model(models,x,y)

C:\Users\User\anaconda3\lib\site-packages\sklearn\linear_model\_ridge.py:147: LinAlgWarning: Ill-conditioned matrix (rcond=2.85304e-19): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True,
C:\Users\User\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 292306065361516.44, tolerance: 67704515128.85589
  model = cd_fast.enet_coordinate_descent(

         r2_score  mean_squared_error
LR   54745.603187            0.135429
R    54745.603631            0.135429
L    54745.656622            0.135427
E    54868.213611            0.131552
GBR  50121.221657            0.275321
ETR      0.000000            1.000000

In [37]:
del bos["Annual Income"]

tahmin=GBR.predict(bos)
len(tahmin)

bos["Annual Income"]=tahmin

non_null["Annual Income"]=non_null["Annual Income"].fillna(bos["Annual Income"])

non_null

,Current Loan Amount,Credit Score,Monthly Debt,Years of Credit History,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Term_Short Term,Home Ownership_Home Mortgage,...,Purpose_Buy a Car,Purpose_Debt Consolidation,Purpose_Educational Expenses,Purpose_Home Improvements,Purpose_Medical Bills,Purpose_Other,Purpose_Take a Trip,Purpose_other,Years in current job,Annual Income
0,11520,741.0,584.0,12.3,10,0,6760,16056.0,1,1,...,0,1,0,0,0,0,0,0,10.0,33694.000000
1,3441,734.0,1.0,26.3,17,0,6262,19149.0,1,1,...,0,0,0,0,0,0,0,1,4.0,42269.000000
2,21029,747.0,1.0,28.8,5,0,20967,28335.0,1,1,...,0,1,0,0,0,0,0,0,10.0,90126.000000
3,18743,747.0,751.0,26.2,9,0,22529,43915.0,1,0,...,0,1,0,0,0,0,0,0,10.0,38072.000000
4,11731,746.0,355.0,11.5,12,0,17391,37081.0,1,0,...,0,1,0,0,0,0,0,0,4.0,50025.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
256979,3911,738.0,1.0,19.9,16,0,43992,44080.0,1,0,...,0,1,0,0,0,0,0,0,2.0,76996.389205
256980,5078,737.0,1.0,19.1,9,0,1717,9758.0,1,0,...,0,1,0,0,0,0,0,0,10.0,77186.000000
256981,12116,7460.0,297.0,15.1,8,0,3315,20090.0,1,1,...,0,1,0,0,0,0,0,0,9.0,52504.000000
256982,12116,746.0,297.0,15.1,8,0,3315,20090.0,1,1,...,0,1,0,0,0,0,0,0,9.0,52504.000000
256983,27902,678.0,2.0,18.0,10,0,28317,62371.0,0,1,...,0,1,0,0,0,0,0,0,10.0,117480.000000

In [38]:
non_null.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 256984 entries, 0 to 256983
Data columns (total 23 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   Current Loan Amount           256984 non-null  int64
 1   Credit Score                  256984 non-null  float64
 2   Monthly Debt                  256984 non-null  float64
 3   Years of Credit History       256984 non-null  float64
 4   Number of Open Accounts       256984 non-null  int64
 5   Number of Credit Problems     256984 non-null  int64
 6   Current Credit Balance        256984 non-null  int64
 7   Maximum Open Credit           256984 non-null  float64
 8   Term_Short Term               256984 non-null  uint8
 9   Home Ownership_Home Mortgage  256984 non-null  uint8
 10  Home Ownership_Own Home       256984 non-null  uint8
 11  Home Ownership_Rent           256984 non-null  uint8
 12  Purpose_Buy House             256984 non-null  uint8
 13  Purpose_Buy a Car             256984 non-null  uint8
 14  Purpose_Debt Consolidation    256984 non-null  uint8
 15  Purpose_Educational Expenses  256984 non-null  uint8
 16  Purpose_Home Improvements     256984 non-null  uint8
 17  Purpose_Medical Bills         256984 non-null  uint8
 18  Purpose_Other                 256984 non-null  uint8
 19  Purpose_Take a Trip           256984 non-null  uint8
 20  Purpose_other                 256984 non-null  uint8
 21  Years in current job          256984 non-null  float64
 22  Annual Income                 256984 non-null  float64
dtypes: float64(6), int64(4), uint8(13)
memory usage: 22.8 MB

In [39]:
non_null["Months since last delinquent"]=df["Months since last delinquent"]
dolu=non_null[non_null["Months since last delinquent"].notnull()] #we seperate the df into two. If survived value is not null then it becomes our train set  
bos=non_null[non_null["Months since last delinquent"].isnull()]
dolu.head()
y=dolu["Months since last delinquent"] #dolu dataframes Survived value is our y_train
x=dolu.drop(["Months since last delinquent"],axis=1)
bos=pd.get_dummies(bos,drop_first=True) 
bos.shape

(140383, 24)

In [40]:
model(models,x,y)

C:\Users\User\anaconda3\lib\site-packages\sklearn\linear_model\_ridge.py:147: LinAlgWarning: Ill-conditioned matrix (rcond=3.61619e-19): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True,

      r2_score  mean_squared_error
LR   21.684889            0.015423
R    21.684889            0.015423
L    21.794150            0.005476
E    21.776616            0.007076
GBR  21.349625            0.045632
ETR   0.000000            1.000000

In [41]:
del bos["Months since last delinquent"]

tahmin=GBR.predict(bos)
len(tahmin)

bos["Months since last delinquent"]=tahmin

non_null["Months since last delinquent"]=non_null["Months since last delinquent"].fillna(bos["Months since last delinquent"])

non_null

,Current Loan Amount,Credit Score,Monthly Debt,Years of Credit History,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Term_Short Term,Home Ownership_Home Mortgage,...,Purpose_Debt Consolidation,Purpose_Educational Expenses,Purpose_Home Improvements,Purpose_Medical Bills,Purpose_Other,Purpose_Take a Trip,Purpose_other,Years in current job,Annual Income,Months since last delinquent
0,11520,741.0,584.0,12.3,10,0,6760,16056.0,1,1,...,1,0,0,0,0,0,0,10.0,33694.000000,41.000000
1,3441,734.0,1.0,26.3,17,0,6262,19149.0,1,1,...,0,0,0,0,0,0,1,4.0,42269.000000,32.792679
2,21029,747.0,1.0,28.8,5,0,20967,28335.0,1,1,...,1,0,0,0,0,0,0,10.0,90126.000000,34.934076
3,18743,747.0,751.0,26.2,9,0,22529,43915.0,1,0,...,1,0,0,0,0,0,0,10.0,38072.000000,37.443090
4,11731,746.0,355.0,11.5,12,0,17391,37081.0,1,0,...,1,0,0,0,0,0,0,4.0,50025.000000,39.898418
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
256979,3911,738.0,1.0,19.9,16,0,43992,44080.0,1,0,...,1,0,0,0,0,0,0,2.0,76996.389205,34.783407
256980,5078,737.0,1.0,19.1,9,0,1717,9758.0,1,0,...,1,0,0,0,0,0,0,10.0,77186.000000,47.000000
256981,12116,7460.0,297.0,15.1,8,0,3315,20090.0,1,1,...,1,0,0,0,0,0,0,9.0,52504.000000,82.000000
256982,12116,746.0,297.0,15.1,8,0,3315,20090.0,1,1,...,1,0,0,0,0,0,0,9.0,52504.000000,82.000000
256983,27902,678.0,2.0,18.0,10,0,28317,62371.0,0,1,...,1,0,0,0,0,0,0,10.0,117480.000000,11.000000

In [42]:
non_null['Bankruptcies']=df['Bankruptcies']
non_null['Tax Liens']=df['Tax Liens']
non_null['Bankruptcies'].fillna((non_null['Bankruptcies'].mean()), inplace=True)
non_null['Tax Liens'].fillna((non_null['Tax Liens'].mean()), inplace=True)

In [43]:
non_null.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 256984 entries, 0 to 256983
Data columns (total 26 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   Current Loan Amount           256984 non-null  int64
 1   Credit Score                  256984 non-null  float64
 2   Monthly Debt                  256984 non-null  float64
 3   Years of Credit History       256984 non-null  float64
 4   Number of Open Accounts       256984 non-null  int64
 5   Number of Credit Problems     256984 non-null  int64
 6   Current Credit Balance        256984 non-null  int64
 7   Maximum Open Credit           256984 non-null  float64
 8   Term_Short Term               256984 non-null  uint8
 9   Home Ownership_Home Mortgage  256984 non-null  uint8
 10  Home Ownership_Own Home       256984 non-null  uint8
 11  Home Ownership_Rent           256984 non-null  uint8
 12  Purpose_Buy House             256984 non-null  uint8
 13  Purpose_Buy a Car             256984 non-null  uint8
 14  Purpose_Debt Consolidation    256984 non-null  uint8
 15  Purpose_Educational Expenses  256984 non-null  uint8
 16  Purpose_Home Improvements     256984 non-null  uint8
 17  Purpose_Medical Bills         256984 non-null  uint8
 18  Purpose_Other                 256984 non-null  uint8
 19  Purpose_Take a Trip           256984 non-null  uint8
 20  Purpose_other                 256984 non-null  uint8
 21  Years in current job          256984 non-null  float64
 22  Annual Income                 256984 non-null  float64
 23  Months since last delinquent  256984 non-null  float64
 24  Bankruptcies                  256984 non-null  float64
 25  Tax Liens                     256984 non-null  float64
dtypes: float64(9), int64(4), uint8(13)
memory usage: 28.7 MB

In [44]:
non_null=pd.get_dummies(non_null,drop_first=True)

In [45]:
non_null

,Current Loan Amount,Credit Score,Monthly Debt,Years of Credit History,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Term_Short Term,Home Ownership_Home Mortgage,...,Purpose_Home Improvements,Purpose_Medical Bills,Purpose_Other,Purpose_Take a Trip,Purpose_other,Years in current job,Annual Income,Months since last delinquent,Bankruptcies,Tax Liens
0,11520,741.0,584.0,12.3,10,0,6760,16056.0,1,1,...,0,0,0,0,0,10.0,33694.000000,41.000000,0.0,0.0
1,3441,734.0,1.0,26.3,17,0,6262,19149.0,1,1,...,0,0,0,0,1,4.0,42269.000000,32.792679,0.0,0.0
2,21029,747.0,1.0,28.8,5,0,20967,28335.0,1,1,...,0,0,0,0,0,10.0,90126.000000,34.934076,0.0,0.0
3,18743,747.0,751.0,26.2,9,0,22529,43915.0,1,0,...,0,0,0,0,0,10.0,38072.000000,37.443090,0.0,0.0
4,11731,746.0,355.0,11.5,12,0,17391,37081.0,1,0,...,0,0,0,0,0,4.0,50025.000000,39.898418,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
256979,3911,738.0,1.0,19.9,16,0,43992,44080.0,1,0,...,0,0,0,0,0,2.0,76996.389205,34.783407,0.0,0.0
256980,5078,737.0,1.0,19.1,9,0,1717,9758.0,1,0,...,0,0,0,0,0,10.0,77186.000000,47.000000,0.0,0.0
256981,12116,7460.0,297.0,15.1,8,0,3315,20090.0,1,1,...,0,0,0,0,0,9.0,52504.000000,82.000000,0.0,0.0
256982,12116,746.0,297.0,15.1,8,0,3315,20090.0,1,1,...,0,0,0,0,0,9.0,52504.000000,82.000000,0.0,0.0
256983,27902,678.0,2.0,18.0,10,0,28317,62371.0,0,1,...,0,0,0,0,0,10.0,117480.000000,11.000000,0.0,0.0

In [46]:
non_null['Loan Status']=df['Loan Status']

In [47]:
y=non_null['Loan Status'].replace({"Fully Paid":0,"Charged Off":1})

In [48]:
x=non_null.drop('Loan Status',axis=1)

In [49]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train,y_test =train_test_split(x,y,test_size=0.30, random_state=13)

In [50]:
x

,Current Loan Amount,Credit Score,Monthly Debt,Years of Credit History,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Term_Short Term,Home Ownership_Home Mortgage,...,Purpose_Home Improvements,Purpose_Medical Bills,Purpose_Other,Purpose_Take a Trip,Purpose_other,Years in current job,Annual Income,Months since last delinquent,Bankruptcies,Tax Liens
0,11520,741.0,584.0,12.3,10,0,6760,16056.0,1,1,...,0,0,0,0,0,10.0,33694.000000,41.000000,0.0,0.0
1,3441,734.0,1.0,26.3,17,0,6262,19149.0,1,1,...,0,0,0,0,1,4.0,42269.000000,32.792679,0.0,0.0
2,21029,747.0,1.0,28.8,5,0,20967,28335.0,1,1,...,0,0,0,0,0,10.0,90126.000000,34.934076,0.0,0.0
3,18743,747.0,751.0,26.2,9,0,22529,43915.0,1,0,...,0,0,0,0,0,10.0,38072.000000,37.443090,0.0,0.0
4,11731,746.0,355.0,11.5,12,0,17391,37081.0,1,0,...,0,0,0,0,0,4.0,50025.000000,39.898418,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
256979,3911,738.0,1.0,19.9,16,0,43992,44080.0,1,0,...,0,0,0,0,0,2.0,76996.389205,34.783407,0.0,0.0
256980,5078,737.0,1.0,19.1,9,0,1717,9758.0,1,0,...,0,0,0,0,0,10.0,77186.000000,47.000000,0.0,0.0
256981,12116,7460.0,297.0,15.1,8,0,3315,20090.0,1,1,...,0,0,0,0,0,9.0,52504.000000,82.000000,0.0,0.0
256982,12116,746.0,297.0,15.1,8,0,3315,20090.0,1,1,...,0,0,0,0,0,9.0,52504.000000,82.000000,0.0,0.0
256983,27902,678.0,2.0,18.0,10,0,28317,62371.0,0,1,...,0,0,0,0,0,10.0,117480.000000,11.000000,0.0,0.0

In [51]:
model=gbc

In [52]:
model.fit(x_train,y_train)
tahmin=model.predict(x_test)

In [53]:
accuracy_score(y_test,tahmin),precision_score(y_test,tahmin),recall_score(y_test,tahmin),f1_score(y_test,tahmin)

(0.770857113209505, 0.754037555057569, 0.40254114929252094, 0.5248776289602496)